.about_me_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about_me_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 65vw;
    padding: 50px;
    background-color: rgba(77, 118, 167, 0.447);
    border-radius: 4px;

    img {
        max-height: 300px;
        border-radius: 250px;
        padding: 5px;
        margin-bottom: 50px;
        background-color: black;
    }
}